:root{
  --bg: black;
  --primair-color: #00ff94;
  --secondaire-color: #a9ffdb;
  --accent-color: #4D4D4D;
}

body{
    background-color: black;
}

/* Navigation */
.navbar {
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
  }
  
  .navbar nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar nav ul li {
    margin: 0 15px;
  }
  
  .navbar nav ul li a {
    text-decoration: none;
    color: var(--secondaire-color);
    font-weight: bold;
  }
  
  .navbar nav ul li a:hover {
    color: var(--accent-color);
  }


  body{
    margin: 0;
  }

  section:first-of-type{
    height: 100vh;
  }

  h1{
    color: var(--primair-color);
    font-size: 6em;
  }

  h2{
    color: var(--secondaire-color);
    font-size: 2.5em;
  }

  article:first-of-type h1:first-of-type{
    position: absolute;
    left: .5em;
    font-size: 20em;
    top: -.2em;
  }

  article:first-of-type h2:first-of-type{
    position: absolute;
    left: 2.8em;
    top: 9em;
    font-size: 3.5em;
  }

  button{
    position: absolute;
    top: 7em;
    left: 5em;
    font-size: 2em;
    border: solid var(--primair-color);
    background-color: black;
    color: var(--secondaire-color);
    width: 4em;
    height: 3em;
    box-shadow: var(--secondaire-color);
}

  section:first-of-type article{
    position: relative;
  }

  article:first-of-type img{
    position: absolute;
    top: -10em;
    right: 2em;
  }

  article:first-of-type img:first-of-type{
    z-index: 1;
    top: 3em;
    height: 90vh;
  }

  section:nth-of-type(2) h2{
    font-size: 8em;
    padding-left: .2em;
  }

  section:nth-of-type(2) article h3{
    color: var(--primair-color);
    font-size: 8em;
    line-height: 0;
    padding-left: .2em;
  }

  section:nth-of-type(2) article{
    background-color: var(--bg);
  }

  section:nth-of-type(2) article:hover{
    background-color: var(--primair-color);
  }
  section:nth-of-type(2) article h3:hover{
    color: var(--secondaire-color);
  }
  
  /* .t{
  margin: 0;
}
.t section{
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  perspective: 100px;
  transition: 2s;
  animation-name: animation;
  animation-duration: 4s;
}
.t section img{
  position: relative;
  width: 30vw;
  height: 40vh;
  perspective: 100em;
  animation-name: animation;
  transform: rotateX(-5deg);
  transition: 200ms;
  animation-duration: 5s;
}

@keyframes animation{
  0%{
      align-items: end;
      transform: rotateX(5deg);
  }
  50%{
      align-items: center;
      transform: rotateX(0deg);
  }
  100%{
      align-items: start;
      transform: rotateX(-5deg);
  }
} */
